<div class="contenedor">

    <div class="titulo ">
        <p>
            CONTACTO
        </p>        
    </div>

    <div class="linkedin">
        <a href="https://www.linkedin.com/in/marcelo-diaz-contreras-7147531a9/">
            <img src="../../assets/linkedinlogo.png">
        </a>
        
    </div>
    
    <div class="github">
        
        <a href="https://github.com/medc1610">
            <img src="../../assets/logoGit.png">
        </a>
        
    </div>

    <div class="gmail">
        <img src="../../assets/gmailogo.png"> <br> <h6><i class="fa-solid fa-envelope "></i> medc1610@gmail.com</h6>
    </div>
    
 
</div>
