<div class="contenedor">

    <div class="cabecera">

        <img src="../../../assets/Perfil2.0.png" >

        <h2> <b> Marcelo Diaz Contreras </b> </h2>
        
        <h5>Frontend Developer</h5>
        <h6><i class="fa-solid fa-envelope me-1"></i> medc1610@gmail.com</h6>

    </div>

    <div class="menu list-group">
        
        <a class="btn btn-group" href="#inicio">
            <i class="fa-solid fa-house-chimney mt-1"></i> &nbsp; Inicio
        </a> 
        
        <a class="btn btn-group" href="#sobre-mi">
            <i class="fa-solid fa-user-astronaut mt-1"></i> &nbsp; Sobre mí
        </a>        

        <a class=" btn btn-group" href="#habilidades">
            <i class="fa-solid fa-graduation-cap"></i> &nbsp; Habilidades
        </a>        

        <a class="btn btn-group" href="#proyectos">
            <i class="fa-solid fa-laptop-code mt-1"></i> &nbsp; Proyectos
        </a>        

        <a class="btn btn-group" href="#contacto">
            <i class="fa-solid fa-envelope"></i> &nbsp; Contacto
        </a>

    </div>


    <div class="link mb-2">
        
        <a target="_blank" href="https://www.linkedin.com/in/marcelo-diaz-contreras-7147531a9/">
            <i class="fa-brands fa-linkedin"></i>
        </a>         
            
        <a target="_blank" href="https://github.com/medc1610">
            <i class="fa-brands fa-github"></i>
        </a>          
       
    </div>

</div>


