<div class="contenedor">

    <div class="cabecera">

        <img src="https://scontent.fscl21-1.fna.fbcdn.net/v/t1.6435-9/119599646_10224053846715149_8810684002929263908_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=328Wyo1s7SYAX-CHGP-&tn=uMqews5Gw7PDU47f&_nc_ht=scontent.fscl21-1.fna&oh=00_AT9euOPgbrXzQCqeASNWH-9iMJQT_2GiMhoTCFsfn5kllw&oe=6255D0C9" >

        <h2> <b> Marcelo Diaz Contreras </b> </h2>
        
        <h5>Frontend Developer</h5>
        <h6><i class="fa-solid fa-envelope me-1"></i> medc1610@gmail.com</h6>

    </div>

    <div class="menu list-group">
        
        <a class="btn btn-group" href="#inicio">
            <i class="fa-solid fa-house-chimney mt-1"></i> &nbsp; Inicio
        </a> 
        
        <a class="btn btn-group" href="#sobre-mi">
            <i class="fa-solid fa-user-astronaut mt-1"></i> &nbsp; Sobre mi
        </a>        

        <a class=" btn btn-group" href="#habilidades">
            <i class="fa-solid fa-graduation-cap"></i> &nbsp; Habilidades
        </a>        

        <a class="btn btn-group" href="#proyectos">
            <i class="fa-solid fa-laptop-code mt-1"></i> &nbsp; Proyectos
        </a>        

        <a class="btn btn-group" href="#contacto">
            <i class="fa-solid fa-envelope"></i> &nbsp; Contacto
        </a>

    </div>


    <div class="link mb-4">
        
        <a href="https://www.linkedin.com/in/marcelo-diaz-contreras-7147531a9/">
            <img src="assets/linkedinlogo.png">
        </a>         
            
        <a href="https://github.com/medc1610">
            <img src="assets/logoGit.png">
        </a>          
       
    </div>

</div>


