<div class="contenedor">

    <div class="titulo ">
        <p>
            PROYECTOS
        </p>        
    </div>

    <div class="contenido">

        <div class="proyecto">    

            <div class="imagen-card">

                <img src="../../assets/Pokedex.PNG">

            </div>
            
            <div class="titulo-card">
                <h5 class="card-title ms-2">
                     <b>Pokedex</b> <hr class="me-3 mt-1">
                </h5>
            </div>

            <div class="cuerpo">                 
  
                <p class="ms-2">
                    Lista pokemon creada a traves de API de pokemon y Angular
                </p>                             

            </div> 

            <div class="logos ms-2">

                <img src="../../assets/angularlogo.png" >
                <img src="../../assets/logoCss.png">
                <img src="../../assets/logobootstrap.svg">
                <img src="../../assets/logoHtml.png">
                <img src="../../assets/logotype.png">

            </div>
            
            <div class="boton1">

                <a href="https://medc1610.github.io/pokedex/" class="btn btn-dark">
                    Pokedex
                </a>
                
            </div>

            <div class="boton2">

                <a href="" class="btn btn-dark">
                    Repositorio
                </a>

            </div>

        </div>        
                
    </div>
 
</div>
