.contenedor{

    display: grid;
    height: 620px;
    grid-template-columns: 500px  auto;
    grid-template-rows: 100px 250px auto;    
    gap: 5px;
    border-radius: 20px;
    background-color: rgba(4, 90, 124, 0.95);    
    color: whitesmoke;
    font-family: monospace;
    margin-top: 20px;
    
    

}

.contenedor > div {
    
    margin: 10px;
    margin-top: 20px; 
    margin-left: 40px;   
    border-radius: 20px;
}

.titulo{

    
    grid-column: 1/3;
    font-size: 50px; 

}

p{
    margin-left: 20px;
    margin-bottom: 10px;
}

.contenido{

    grid-column: 1/2;
    font-size: 20px;

}

.imagen{

    grid-column: 2/3;
    
}

img{

    height: 400px;

}

.btn{

    height: 70px;
    width: 200px;

}

.boton{

    display: grid;
    justify-content: center; 

}

a{
    font-size: 20px;
}