<div class="contenedor">

    <div class="titulo ">
        <p>
            SOBRE MI
        </p>        
    </div>

    <div class="contenido">
        <p>
            Me caracterizo por ser muy autodidacta, por tener una gran 
            disposición frente al trabajo y los desafíos que se me presentan, 
            mantengo un trato cordial y respetuoso con mis pares y superiores, 
            poseo gran espíritu de superación e iniciativa. 
        </p>        
    </div>

    <div class="imagen">
        <img src="../../assets/SobreMi.png">
    </div>

    <div class="boton">
        <a class="btn btn-dark btn-descarga mt-4" href="../../assets/Marcelo Diaz C..pdf" download>
            Descargar CV <br> <i class="fa-solid fa-download"></i>
        </a>
    </div>
 
</div>
