
<div class="contenedor ">

    <div class="menur">
        <app-menur></app-menur>
    </div>

    <div class="menu">
        <app-menu></app-menu>
    </div>

    <div id="inicio">
        <app-inicio></app-inicio>
    </div>

    <div id="sobre-mi" >
        <app-sobre-mi></app-sobre-mi>
    </div>

    <div id="habilidades">
        <app-habilidades></app-habilidades>
    </div>

    <div id="proyectos">
        <app-proyectos></app-proyectos>
    </div>

    <div id="contacto">
        <app-contacto></app-contacto>
    </div>
    
</div>

