<div class="contenedor">

    <div class="titulo ">
        <p>
            HABILIDADES
        </p>        
    </div>

    <div class="contenido mb-5">
        
        <div class="html">
           HTML5 <br>
            <img src="../../assets/logoHtml.png">           
        </div>

        <div class="css">
            CSS3  <br>
            <img src="../../assets/logoCss.png">         
        </div>

        <div class="javascript">
            Javascript <br>
            <img src="../../assets/logoJavascript.png">            
        </div>

        <div class="typescript">
            Typescript <br>
            <img src="../../assets/logotype.png">           
        </div>

        <div class="bootstrap">
            Bootstrap  <br>
            <img src="../../assets/logobootstrap.svg">          
        </div>

        <div class="github">
            Git   <br>
            <img src="../../assets/git.png">         
        </div>

        <div class="angular">
            Angular <br>
            <img src="../../assets/angularlogo.png">           
        </div>

        <div class="node">
            Node <br>
            <img src="../../assets/nodelogo.png">          
        </div>
        


    </div>

    

 
</div>